version: '3'

services:

  grafana:
    image: grafana/grafana:{{ grafana_version }}
    container_name: grafana
    volumes:
      - /srv/docker/grafana/etc:/etc/grafana
      - grafana-data:/var/lib/grafana
      - /srv/docker/grafana/data:/var/lib/grafana
    networks:
      - traefik-net
    labels:
      traefik.enable: 'true'
      traefik.frontend.entryPoints: 'https'
      traefik.frontend.rule: "PathPrefixStrip:/grafana/"
    restart: always

volumes:

  grafana-data:
    driver: local


networks:
  traefik-net:
    external:
      name: traefik_proxy-net