version: '3'

services:

  mongo:
    image: mongo:{{ mongo_version }}
    container_name: mongo
    volumes:
      - mongo_data:/data/db
    networks:
      - graylog

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:{{ es_version }}
    container_name: elasticsearch
    volumes:
      - es_data:/usr/share/elasticsearch/data
    environment:
      - http.host=0.0.0.0
      - transport.host=localhost
      - network.host=0.0.0.0
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms2g -Xmx2g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - graylog

  graylog:
    image: graylog/graylog:{{ graylog_version }}
    container_name: graylog
    volumes:
      - /srv/docker/graylog/etc/beats_ca.crt:/usr/share/graylog/data/config/beats_ca.crt:ro
      - /srv/docker/graylog/etc/beats.crt:/usr/share/graylog/data/config/beats.crt:ro
      - /srv/docker/graylog/etc/beats.key:/usr/share/graylog/data/config/beats.key:ro
      - /srv/docker/graylog/beats_input_content_pack.json:/usr/share/graylog/data/contentpacks/beats_input_content_pack.json:ro
      - graylog_journal:/usr/share/graylog/data/journal
    environment:
      GRAYLOG_CONTENT_PACKS_AUTO_LOAD: "beats_input_content_pack.json"
      GRAYLOG_CONTENT_PACKS_LOADER_ENABLED: "true"
      GRAYLOG_CONTENT_PACKS_DIR: "data/contentpacks"
      GRAYLOG_PASSWORD_SECRET: "{{ graylog_password_secret }}"
      GRAYLOG_ROOT_PASSWORD_SHA2: "{{ graylog_password_sha2 }}"
      GRAYLOG_WEB_ENDPOINT_URI: "{{ graylog_web_endpoint }}/api"
      GRAYLOG_ROOT_TIMEZONE: "{{ graylog_timezone }}"
    depends_on:
      - mongo
      - elasticsearch
    ports:
      # Beats Input
      - 5044:5044
    networks:
      - graylog
      - traefik-net
    labels:
      traefik.enable: 'true'
      traefik.port: 9000
      traefik.frontend.entryPoints: 'https'
      traefik.frontend.rule: "Host:{{ log_server }}"
      traefik.docker.network: traefik_proxy-net

volumes:
  mongo_data:
    driver: local
  es_data:
    driver: local
  graylog_journal:
    driver: local

networks:
  graylog:
  traefik-net:
    external:
      name: traefik_proxy-net