version: '3'

services:

  prometheus:
    image: quay.io/prometheus/prometheus:v{{ prometheus_version }}
    container_name: prometheus
    volumes:
      - /srv/docker/prometheus/etc:/etc/prometheus
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.external-url={{ prometheus_external_url }}'
    networks:
      - traefik-net
    labels:
      traefik.enable: 'true'
      traefik.frontend.entryPoints: 'https'
      traefik.frontend.auth.basic: 'admin:{{ prometheus_admin_password_hash }},'
      traefik.frontend.rule: "PathPrefix:/prometheus"
      traefik.docker.network: traefik_proxy-net
    restart: always

networks:
  traefik-net:
    external:
      name: traefik_proxy-net

volumes:
  prometheus-data:
    driver: local