global:

  scrape_interval: 5s

  external_labels:
    monitor: '{{ prometheus_monitor_label }}'

rule_files:
  - 'alert.rules.yml'

scrape_configs:

  - job_name: 'prometheus'
    metrics_path: '/prometheus/metrics'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node'
    metrics_path: '/node/metrics'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    basic_auth:
      username: 'metrics'
      password: '{{ metrics_password }}'
    static_configs:
      - targets: [{% for host in prometheus_nodes %} '{{ host }}:{{ metrics_port }}', {% endfor %}]

  - job_name: 'rabbitmq'
    metrics_path: '/rabbitmq-exporter/metrics'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    basic_auth:
      username: 'metrics'
      password: '{{ metrics_password }}'
    static_configs:
      - targets: [{% for host in prometheus_rabbitmq_exporters %} '{{ host }}:{{ metrics_port }}', {% endfor %}]

alerting:
  alertmanagers:
    - scheme: https
      tls_config:
        insecure_skip_verify: true
      path_prefix: /alerts
      basic_auth:
        username: 'alertmanager'
        password: '{{ alertmanager_api_password }}'
      static_configs:
        - targets: ['{{ alertmanager_host }}']
