version: '3'

services:

  keycloak:
    image: {{ keycloak_image }}:{{ keycloak_version }}
    container_name: keycloak
    networks:
      - keycloak-net
      - traefik-net
    labels:
      traefik.enable: 'true'
      traefik.frontend.entryPoints: 'https'
      traefik.frontend.rule: "PathPrefixStrip:/"
      traefik.docker.network: traefik_proxy-net
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: {{ keycloak_admin_password }}
      PROXY_ADDRESS_FORWARDING: 'true'
      POSTGRES_DATABASE: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: {{ keycloak_db_password }}
    restart: always

  postgres:
    image: postgres:9.6
    container_name: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - keycloak-net
    environment:
      POSTGRES_PASSWORD: {{ keycloak_db_password }}
    restart: always

volumes:
  postgres-data:

networks:
  traefik-net:
    external:
      name: traefik_proxy-net
  keycloak-net: