global:
  smtp_smarthost: '{{ alertmanager_smtp_smarthost }}'
  smtp_from: '{{ alertmanager_smtp_from }}'
  smtp_auth_username: '{{ alertmanager_smtp_auth_username }}'
  smtp_auth_password: '{{ alertmanager_smtp_auth_password }}'

templates:
  - /etc/prometheus/alertmanager_templates/*.tmpl

route:
 receiver: default_alert

receivers:
- name: default_alert
  email_configs:
  - to: '{{ alertmanager_smtp_to }}'
    send_resolved: true