version: '3'

services:

  alertmanager:
    image: quay.io/prometheus/alertmanager:v{{ alertmanager_version }}
    container_name: alertmanager
    volumes:
      - /srv/docker/alertmanager/etc/alertmanager.yml:/etc/prometheus/alertmanager.yml
      - /srv/docker/alertmanager/etc/alertmanager_templates/:/etc/prometheus/alertmanager_templates/
    command:
      - '--config.file=/etc/prometheus/alertmanager.yml'
      - '--web.external-url={{ alertmanager_external_url }}'
    networks:
      - traefik-net
    labels:
      traefik.enable: 'true'
      traefik.frontend.entryPoints: 'https'
      traefik.frontend.auth.basic: '{% for user in alertmanager_users %}{{ user }},{% endfor %}'
      traefik.frontend.rule: "PathPrefix:/alerts"
      traefik.docker.network: traefik_proxy-net
    restart: always

networks:
  traefik-net:
    external:
      name: traefik_proxy-net