version: '3'

services:

  rabbitmq-exporter:
    image: kbudde/rabbitmq-exporter:v{{ rabbitmq_exporter_version }}
    container_name: rabbitmq-exporter
    networks:
      - traefik-net
    environment:
      RABBIT_URL: '{{ rabbitmq_exporter_rabbitmq_mgmt_url }}'
      RABBIT_USER: '{{ rabbitmq_exporter_rabbitmq_mgmt_user }}'
      RABBIT_PASSWORD: '{{ rabbitmq_exporter_rabbitmq_mgmt_password }}'
      LOG_LEVEL: 'info'
      SKIPVERIFY: 'true'
      RABBIT_EXPORTERS: 'exchange,node,overview,queue,connections'
    labels:
      traefik.enable: 'true'
      traefik.frontend.entryPoints: 'https'
      traefik.frontend.auth.basic: 'metrics:{{ metrics_password_hash }},'
      traefik.frontend.rule: "PathPrefixStrip:/rabbitmq-exporter"
      traefik.docker.network: traefik_proxy-net
    restart: always

networks:
  traefik-net:
    external:
      name: traefik_proxy-net