version: '3'

services:

  traefik:
    image: traefik:v{{ traefik_version }}
    container_name: traefik
    volumes:
      - /srv/docker/traefik/etc:/etc/traefik
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - {{ traefik_http_port }}:{{ traefik_http_port }}
      - {{ traefik_https_port }}:{{ traefik_https_port }}
      - {{ traefik_api_port }}:{{ traefik_api_port }}
    networks:
      - proxy-net
    command: "--logLevel=INFO"
    restart: always

networks:
  proxy-net: