insecureSkipVerify = {{ traefik_skip_ssl_backend_verify }}

[entryPoints]
  [entryPoints.http]
    address = ":{{ traefik_http_port }}"
    [entryPoints.http.redirect]
      entryPoint = "https"
  [entryPoints.https]
    address = ":{{ traefik_https_port }}"
    [entryPoints.https.tls]
      minVersion = "VersionTLS12"
      cipherSuites = ["TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384",
                      "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256"]
      [[entryPoints.https.tls.certificates]]
        CertFile = "/etc/traefik/traefik.cert"
        KeyFile = "/etc/traefik/traefik.key"
  [entryPoints.api]
    address = ":{{ traefik_api_port }}"
      [entryPoints.api.tls]
        [[entryPoints.api.tls.certificates]]
          CertFile = "/etc/traefik/traefik.cert"
          KeyFile = "/etc/traefik/traefik.key"
      [entryPoints.api.auth]
        [entryPoints.api.auth.basic]
          users = ["admin:{{ traefik_admin_password_hash }}"]

[api]
  entryPoint = "api"
  dashboard = true

{% if traefik_enable_docker %}
[docker]
  endpoint = "unix:///var/run/docker.sock"
  domain = "docker.localhost"
  watch = true
  exposedbydefault = false
{% endif %}

{% if traefik_enable_file %}
[file]
  directory = "/etc/traefik/rules"
  watch = true
{% endif %}