[
  {rabbit,
    [
      {disk_free_limit, "5GB"},
      {vm_memory_high_watermark, 0.4}
    ]
  },
  {rabbitmq_management,
    [
      {listener, [{port, 15672}, {ip, "{{ rabbitmq_listen_address }}"}]}
    ]
  }
].