version: '3'

services:

  node-exporter:
    image: quay.io/prometheus/node-exporter:v{{ node_exporter_version }}
    container_name: node-exporter
    networks:
      - traefik-net
    labels:
      traefik.enable: 'true'
      traefik.frontend.entryPoints: 'https'
      traefik.frontend.auth.basic: 'metrics:{{ metrics_password_hash }},'
      traefik.frontend.rule: "PathPrefix:/node"
      traefik.docker.network: traefik_proxy-net
    command: '--web.telemetry-path="/node/metrics"'
    restart: always

networks:
  traefik-net:
    external:
      name: traefik_proxy-net