version: '3'

services:

  rethinkdb:
    image: rethinkdb:{{ rethinkdb_version }}
    container_name: rethinkdb
    volumes:
      - rethinkdb-data:/data
    ports:
      - 8080:8080
      - 28015:28015
    restart: always

volumes:
  rethinkdb-data:
