version: '3'

services:

  nexus:
    image: sonatype/nexus3:{{ nexus_version }}
    container_name: nexus
    volumes:
      - nexus-data:/nexus-data
    restart: always

  nexus-proxy:
    image: haproxy:1.8
    container_name: nexus-proxy
    volumes:
      - /srv/docker/nexus/server.pem:/usr/local/etc/haproxy/server.pem
      - /srv/docker/nexus/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
    ports:
      - 443:{{ nexus_port }}
      - 5000:5000
    depends_on:
      - nexus
    restart: always

volumes:
  nexus-data: