global
  maxconn 10000
  tune.ssl.default-dh-param 2048

defaults
  mode http
  timeout connect 50s
  timeout client 50s
  timeout server 50s
  timeout tunnel 4hrs

frontend f-nexus
  bind *:443 ssl crt /usr/local/etc/haproxy/server.pem
  mode http
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request set-header X-Forwarded-For %[src]
  http-request set-header X-Forwarded-Proto https
  option forwardfor
  default_backend b-nexus
  acl host_nexus hdr(host) -i {{ nexus_hostname }}
  use_backend b-nexus if host_nexus
  acl host_docker_registry hdr(host) -i {{ nexus_docker_registry_hostname }}
  use_backend b-nexus-docker if host_docker_registry

backend b-nexus
  server local nexus:8081 check

backend b-nexus-docker
  server local nexus:5000 check
