GPG_PW='{{ backup_gpg_password }}'
GPG_OPTS='--compress-algo=bzip2'

TARGET='s3://{{ backup_s3_host}}/{{ backup_s3_bucket }}/{{ backup_s3_folder }}'
TARGET_USER='{{ backup_s3_access_key_id }}'
TARGET_PASS='{{ backup_s3_secret_key }}'
export AWS_ACCESS_KEY_ID='{{ backup_s3_access_key_id }}'
export AWS_SECRET_ACCESS_KEY='{{ backup_s3_secret_key }}'
DUPL_PARAMS="$DUPL_PARAMS --s3-use-new-style --volsize 1000"

SOURCE='/'

MAX_AGE=6M
MAX_FULL_BACKUPS=30
MAX_FULLS_WITH_INCRS=4
MAX_FULLBKP_AGE=1W
DUPL_PARAMS="$DUPL_PARAMS --full-if-older-than $MAX_FULLBKP_AGE "

VERBOSITY=2
ARCH_DIR='{{ backup_cache_dir }}'
TEMP_DIR='{{ backup_temp_dir }}'
